# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.obj
*.o
*.a
*.lib
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Environments
env/
venv/
.venv/
ENV/

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo

# OS generated
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store

# Model Weights (Download from GitHub Release)
models/*.onnx
